<nav class="navbar bg-white shadow-md px-4 py-2 flex items-center justify-between">
<%= link_to "MedicBd", web_root_path, class: "navbar-brand text-xl font-semibold" %>
  <ul class="navbar-nav flex space-x-4">
    <li class="nav-item">
      <%= link_to web_root_path, class: "nav-link" do %>
        🏠 হোম
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_ambulance_path, class: "nav-link" do %>
        🚑 এ্যাম্বুলেন্স 
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_bloodbank_path, class: "nav-link" do %>
        🩸 ব্লাড ব্যাংক
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_clinics_and_hospitals_path, class: "nav-link" do %>
        🏥 ক্লিনিক ও হাসপাতাল
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_diagnostics_path, class: "nav-link" do%>
        🔬 ডায়াগনস্টিক সেন্টার
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_feedback_path, class: "nav-link" do%>
        📝 ফিডব্যাক
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_contact_us_path, class: "nav-link" do%>
        📞 যোগাযোগ করুন
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_about_us_path, class: "nav-link" do%>
        ℹ️ আমাদের সম্পর্কে
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to web_disclaimer_path, class: "nav-link" do%>
        ⚠️ ডিসক্লেইমার
      <% end %>
    </li>
  </ul>
</nav>