# navbar
<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Hospitals', hospitals_path %></li>
    <li><%= link_to 'Clinics', clinics_path %> </li>
    <li><%= link_to 'Diagnostics', diagnostics_path %></li>
    <li><%= link_to 'Ambulances', ambulances_path %></li>
    <li><%= link_to 'Pharmacies', pharmacies_path %></li>
    <li><%= link_to 'Blood Banks', blood_banks_path %></li>
    <li><%= link_to 'Doctors', doctors_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'Disclaimer', disclaimer_path %></li>
    <li><%= link_to 'Add/Update Data', new_data_path %></li>
  </ul>
</nav>