<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "My Website" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
<body>
  <header>
    <%= render 'layouts/nav' %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>&copy; <%= Time.current.year %> My Website. All rights reserved.</p>
  </footer>
</body>
</html>